.get-all-users{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get-all-users p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.worker-details th{
    display: flex;
    flex-direction: column;
    align-items: center;
}