
table { 
	width: 600px; 
	border-collapse: collapse; 
	}
    
/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #ffdb79; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: center; 
	font-size: 15px;
	}

	.all-users{
		display: flex;
		flex-direction: column;
		size: 10px;
		position: static;

	}