.admin-page{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.admin-funcs{
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.admin-funcs button{
   margin:10px;


}

.page-container{
    margin: 10px;
    border-radius: 20px;
}

h1{
    color: #181D31;
    font-size: 50px;
}



.admin-get-users{
    position: absolute;
    
    margin: 50px;

}  

.admin-add-users{
    position: absolute;

    margin: 50px;
    

}  
.admin-get-messages{
    position: absolute;

    margin: 50px;
    

}  

